
/* Mobile Layout Media Queries */

@media only screen and (min-width: 768px) {
	 #subsidebar {display:block !important;}
}

@media only screen and (max-width: 767px) {

	/* Mobile SubSidebar Button */
	#subsidebar {display:none; max-width:50%;}	
	#subsidebarbutton {float:right; display:block; margin-left:0px; margin-right:10px;}
	#subsidebarbuttonsmall {display:none;}
	
}


@media only screen and (min-width: 640px) {
	#sidebar {display:block !important;}
}

@media only screen and (max-width: 639px) {

	/* Mobile Sidebar Button */
	#sidebar {display:none;}
	#sidebar {float:left !important; max-width:90%;}
	#subsidebar {float:right !important; max-width:90%;}
	#sidebarbutton {float:left; display:block; margin-left:10px; margin-right:0px;}
	#subsidebarbuttonsmall {display:none;}
	
	/* Content Widths */
	#wrap #navigation {width: 96% !important;}
	#wrap #content {width: 96% !important;}
	#sidebar .widget-container, #subsidebar .widget-container 
		{margin-left: 5px; margin-right:5px;}

}

@media only screen and (min-width: 480px) {
	#mainmenu {display:block !important;}
}

/* Mobile/Browser */
@media only screen and (max-width: 479px) {

	#wrap #content {width: 100%;}
	
	/* Sidebar Buttons */
	#sidebarbutton, #subsidebarbutton {display:inline-block;}
	
	/* mobile navigation menu */
	/* 2.1.5: moved to skin.php and option added */
	
	/* other styles */
	#wrap .products li,.products li.first,.products li.last {
		float: left; clear: both; margin: 20px 0px 20px 0px; width: 100%;
	}
	#wrap #breadcrumb {display: none;}
	#sidebar .widget-container, #subsidebar .widget-container {
		margin-left: 2px; margin-right:2px;
	}

}

/* Smaller Mobiles */
@media only screen and (max-width: 399px) {

	#sidebarbutton {display:none;}
	#sidebarbuttonsmall {float:left; display:block; margin-left:10px; margin-right:0px;}
	#subsidebarbutton {display:none;}
	#subsidebarbuttonsmall {float:right; display:block; margin-left:0px; margin-right:10px;}

}

/* Full Width Content for Small Screens */
@media only screen and (min-width: 320px) and (max-width: 480px) {
	#wrap #content {
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

/* Mobile Landscape/Browser */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Anything smaller than standard 960 */
/*
@media only screen and (max-width: 959px) {
	#header #site-title a {font-size: 28px;}
	#header .site-desc {font-size: 18px; line-height: 1;}
	#header .inner {padding-bottom: 0;}
} */

/* iPad Portrait/Browser */
/* @media only screen and (min-width: 768px) and (max-width: 991px) {} */

/* iPad Portrait Only */
@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {}

/* Mobile Only */
@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}

/* Mobile Landscape Only */
@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}


